<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Edit Patient</h2>
      <form (ngSubmit)="updatePatient()">
        <div class="form-group">
          <label for="titre">Titre:</label>
          <input type="text" class="form-control" id="titre" [(ngModel)]="patient.titre" name="titre">
        </div>
        <div class="form-group">
          <label for="name">Nom:</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="patient.nom" name="name">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom(s):</label>
          <input type="text" class="form-control" id="prenom" [(ngModel)]="patient.prenom" name="prenom">
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
      </form>
    </div>
  </div>
</div>
